html,body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content{
    flex: 1;
}

.footer{
    text-align: center;
    background-color: #3e48a0;
    color: white;
    padding: 2vh;
    width: 100%;
}

.btn{
    margin: 1vh 0.5vw;
}

.article-link{
    color: white;
}

.card-btn{
    float: right;
}